@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <div id="content" class="row content_grey">
        <div id="right_content" class="row">
            <div class="box-typical-header">
                <div class="cell_title">
                    <h3>Manage Permissions</h3>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-12">
                <div class="table-responsive permission_div">
                    <table id="perm" class="table table-striped Permission_list display">
                        <tbody>
                            <tr class="header">
                                <th class="">Permissions</th>
                                <th colspan="4" value="24" class="role_24 long">Role 1</th>
                                <th colspan="4" value="26" class="role_26 long">Role 2</th>
                                <th colspan="4" value="27" class="role_27 long">Role 3</th>
                                <th colspan="4" value="28" class="role_28 long">Role 4</th>
                                <th colspan="4" value="33" class="role_33 long">Role 5</th>
                            </tr>
                            <tr class="Permission row_1">
                                <td class="">Screen 1</td>
                                <td class="cell_24 long"><input id="check_3_24_R" name="R" type="checkbox" value="24"> R </td>
                                <td class="cell_24 long"><input id="check_3_24_W" name="W" type="checkbox" value="24"> W </td>
                                <td class="cell_24 long"><input id="check_3_24_D" name="D" type="checkbox" value="24"> D </td>
                                <td class="cell_24 long"><input id="check_3_24_WS" name="WS" type="checkbox" value="24"> WS </td>
                                <td class="cell_26 long"><input id="check_3_26_R" name="R" type="checkbox" value="26"> R </td>
                                <td class="cell_26 long"><input id="check_3_26_W" name="W" type="checkbox" value="26"> W </td>
                                <td class="cell_26 long"><input id="check_3_26_D" name="D" type="checkbox" value="26"> D </td>
                                <td class="cell_26 long"><input id="check_3_26_WS" name="WS" type="checkbox" value="26"> WS </td>
                                <td class="cell_27 long"><input id="check_3_27_R" name="R" type="checkbox" value="27"> R </td>
                                <td class="cell_27 long"><input id="check_3_27_W" name="W" type="checkbox" value="27"> W </td>
                                <td class="cell_27 long"><input id="check_3_27_D" name="D" type="checkbox" value="27"> D </td>
                                <td class="cell_27 long"><input id="check_3_27_WS" name="WS" type="checkbox" value="27"> WS </td>
                                <td class="cell_28 long"><input id="check_3_28_R" name="R" type="checkbox" value="28"> R </td>
                                <td class="cell_28 long"><input id="check_3_28_W" name="W" type="checkbox" value="28"> W </td>
                                <td class="cell_28 long"><input id="check_3_28_D" name="D" type="checkbox" value="28"> D </td>
                                <td class="cell_28 long"><input id="check_3_28_WS" name="WS" type="checkbox" value="28"> WS </td>
                                <td class="cell_33 long"><input id="check_3_33_R" name="R" type="checkbox" value="33"> R </td>
                                <td class="cell_33 long"><input id="check_3_33_W" name="W" type="checkbox" value="33"> W </td>
                                <td class="cell_33 long"><input id="check_3_33_D" name="D" type="checkbox" value="33"> D </td>
                                <td class="cell_33 long"><input id="check_3_33_WS" name="WS" type="checkbox" value="33"> WS </td>
                            </tr>
                            <tr class="Permission row_2">
                                <td class="">Screen 2</td>
                                <td class="cell_24 long"><input id="check_3_24_R" name="R" type="checkbox" value="24"> R </td>
                                <td class="cell_24 long"><input id="check_3_24_W" name="W" type="checkbox" value="24"> W </td>
                                <td class="cell_24 long"><input id="check_3_24_D" name="D" type="checkbox" value="24"> D </td>
                                <td class="cell_24 long"><input id="check_3_24_WS" name="WS" type="checkbox" value="24"> WS </td>
                                <td class="cell_26 long"><input id="check_3_26_R" name="R" type="checkbox" value="26"> R </td>
                                <td class="cell_26 long"><input id="check_3_26_W" name="W" type="checkbox" value="26"> W </td>
                                <td class="cell_26 long"><input id="check_3_26_D" name="D" type="checkbox" value="26"> D </td>
                                <td class="cell_26 long"><input id="check_3_26_WS" name="WS" type="checkbox" value="26"> WS </td>
                                <td class="cell_27 long"><input id="check_3_27_R" name="R" type="checkbox" value="27"> R </td>
                                <td class="cell_27 long"><input id="check_3_27_W" name="W" type="checkbox" value="27"> W </td>
                                <td class="cell_27 long"><input id="check_3_27_D" name="D" type="checkbox" value="27"> D </td>
                                <td class="cell_27 long"><input id="check_3_27_WS" name="WS" type="checkbox" value="27"> WS </td>
                                <td class="cell_28 long"><input id="check_3_28_R" name="R" type="checkbox" value="28"> R </td>
                                <td class="cell_28 long"><input id="check_3_28_W" name="W" type="checkbox" value="28"> W </td>
                                <td class="cell_28 long"><input id="check_3_28_D" name="D" type="checkbox" value="28"> D </td>
                                <td class="cell_28 long"><input id="check_3_28_WS" name="WS" type="checkbox" value="28"> WS </td>
                                <td class="cell_33 long"><input id="check_3_33_R" name="R" type="checkbox" value="33"> R </td>
                                <td class="cell_33 long"><input id="check_3_33_W" name="W" type="checkbox" value="33"> W </td>
                                <td class="cell_33 long"><input id="check_3_33_D" name="D" type="checkbox" value="33"> D </td>
                                <td class="cell_33 long"><input id="check_3_33_WS" name="WS" type="checkbox" value="33"> WS </td>
                            </tr>
                            <tr class="Permission row_3">
                                <td class="">Screen 3</td>
                                <td class="cell_24 long"><input id="check_3_24_R" name="R" type="checkbox" value="24"> R </td>
                                <td class="cell_24 long"><input id="check_3_24_W" name="W" type="checkbox" value="24"> W </td>
                                <td class="cell_24 long"><input id="check_3_24_D" name="D" type="checkbox" value="24"> D </td>
                                <td class="cell_24 long"><input id="check_3_24_WS" name="WS" type="checkbox" value="24"> WS </td>
                                <td class="cell_26 long"><input id="check_3_26_R" name="R" type="checkbox" value="26"> R </td>
                                <td class="cell_26 long"><input id="check_3_26_W" name="W" type="checkbox" value="26"> W </td>
                                <td class="cell_26 long"><input id="check_3_26_D" name="D" type="checkbox" value="26"> D </td>
                                <td class="cell_26 long"><input id="check_3_26_WS" name="WS" type="checkbox" value="26"> WS </td>
                                <td class="cell_27 long"><input id="check_3_27_R" name="R" type="checkbox" value="27"> R </td>
                                <td class="cell_27 long"><input id="check_3_27_W" name="W" type="checkbox" value="27"> W </td>
                                <td class="cell_27 long"><input id="check_3_27_D" name="D" type="checkbox" value="27"> D </td>
                                <td class="cell_27 long"><input id="check_3_27_WS" name="WS" type="checkbox" value="27"> WS </td>
                                <td class="cell_28 long"><input id="check_3_28_R" name="R" type="checkbox" value="28"> R </td>
                                <td class="cell_28 long"><input id="check_3_28_W" name="W" type="checkbox" value="28"> W </td>
                                <td class="cell_28 long"><input id="check_3_28_D" name="D" type="checkbox" value="28"> D </td>
                                <td class="cell_28 long"><input id="check_3_28_WS" name="WS" type="checkbox" value="28"> WS </td>
                                <td class="cell_33 long"><input id="check_3_33_R" name="R" type="checkbox" value="33"> R </td>
                                <td class="cell_33 long"><input id="check_3_33_W" name="W" type="checkbox" value="33"> W </td>
                                <td class="cell_33 long"><input id="check_3_33_D" name="D" type="checkbox" value="33"> D </td>
                                <td class="cell_33 long"><input id="check_3_33_WS" name="WS" type="checkbox" value="33"> WS </td>
                            </tr>
                            <tr class="Permission row_4">
                                <td class="">Screen 4</td>
                                <td class="cell_24 long"><input id="check_3_24_R" name="R" type="checkbox" value="24"> R </td>
                                <td class="cell_24 long"><input id="check_3_24_W" name="W" type="checkbox" value="24"> W </td>
                                <td class="cell_24 long"><input id="check_3_24_D" name="D" type="checkbox" value="24"> D </td>
                                <td class="cell_24 long"><input id="check_3_24_WS" name="WS" type="checkbox" value="24"> WS </td>
                                <td class="cell_26 long"><input id="check_3_26_R" name="R" type="checkbox" value="26"> R </td>
                                <td class="cell_26 long"><input id="check_3_26_W" name="W" type="checkbox" value="26"> W </td>
                                <td class="cell_26 long"><input id="check_3_26_D" name="D" type="checkbox" value="26"> D </td>
                                <td class="cell_26 long"><input id="check_3_26_WS" name="WS" type="checkbox" value="26"> WS </td>
                                <td class="cell_27 long"><input id="check_3_27_R" name="R" type="checkbox" value="27"> R </td>
                                <td class="cell_27 long"><input id="check_3_27_W" name="W" type="checkbox" value="27"> W </td>
                                <td class="cell_27 long"><input id="check_3_27_D" name="D" type="checkbox" value="27"> D </td>
                                <td class="cell_27 long"><input id="check_3_27_WS" name="WS" type="checkbox" value="27"> WS </td>
                                <td class="cell_28 long"><input id="check_3_28_R" name="R" type="checkbox" value="28"> R </td>
                                <td class="cell_28 long"><input id="check_3_28_W" name="W" type="checkbox" value="28"> W </td>
                                <td class="cell_28 long"><input id="check_3_28_D" name="D" type="checkbox" value="28"> D </td>
                                <td class="cell_28 long"><input id="check_3_28_WS" name="WS" type="checkbox" value="28"> WS </td>
                                <td class="cell_33 long"><input id="check_3_33_R" name="R" type="checkbox" value="33"> R </td>
                                <td class="cell_33 long"><input id="check_3_33_W" name="W" type="checkbox" value="33"> W </td>
                                <td class="cell_33 long"><input id="check_3_33_D" name="D" type="checkbox" value="33"> D </td>
                                <td class="cell_33 long"><input id="check_3_33_WS" name="WS" type="checkbox" value="33"> WS </td>
                            </tr>
                            <tr class="Permission row_5">
                                <td class="">Screen 5</td>
                                <td class="cell_24 long"><input id="check_3_24_R" name="R" type="checkbox" value="24"> R </td>
                                <td class="cell_24 long"><input id="check_3_24_W" name="W" type="checkbox" value="24"> W </td>
                                <td class="cell_24 long"><input id="check_3_24_D" name="D" type="checkbox" value="24"> D </td>
                                <td class="cell_24 long"><input id="check_3_24_WS" name="WS" type="checkbox" value="24"> WS </td>
                                <td class="cell_26 long"><input id="check_3_26_R" name="R" type="checkbox" value="26"> R </td>
                                <td class="cell_26 long"><input id="check_3_26_W" name="W" type="checkbox" value="26"> W </td>
                                <td class="cell_26 long"><input id="check_3_26_D" name="D" type="checkbox" value="26"> D </td>
                                <td class="cell_26 long"><input id="check_3_26_WS" name="WS" type="checkbox" value="26"> WS </td>
                                <td class="cell_27 long"><input id="check_3_27_R" name="R" type="checkbox" value="27"> R </td>
                                <td class="cell_27 long"><input id="check_3_27_W" name="W" type="checkbox" value="27"> W </td>
                                <td class="cell_27 long"><input id="check_3_27_D" name="D" type="checkbox" value="27"> D </td>
                                <td class="cell_27 long"><input id="check_3_27_WS" name="WS" type="checkbox" value="27"> WS </td>
                                <td class="cell_28 long"><input id="check_3_28_R" name="R" type="checkbox" value="28"> R </td>
                                <td class="cell_28 long"><input id="check_3_28_W" name="W" type="checkbox" value="28"> W </td>
                                <td class="cell_28 long"><input id="check_3_28_D" name="D" type="checkbox" value="28"> D </td>
                                <td class="cell_28 long"><input id="check_3_28_WS" name="WS" type="checkbox" value="28"> WS </td>
                                <td class="cell_33 long"><input id="check_3_33_R" name="R" type="checkbox" value="33"> R </td>
                                <td class="cell_33 long"><input id="check_3_33_W" name="W" type="checkbox" value="33"> W </td>
                                <td class="cell_33 long"><input id="check_3_33_D" name="D" type="checkbox" value="33"> D </td>
                                <td class="cell_33 long"><input id="check_3_33_WS" name="WS" type="checkbox" value="33"> WS </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="form-group">
                <div class="col-md-6 pull-right">
                    <input type="reset" class="btn wt_btn pull-right" value="Cancel">
                    <input type="button" class="btn def_btn pull-right" value="Save Changes">
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
